In [3]:
import pandas as pd
import numpy as np

In [4]:
emicron = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv")

In [5]:
emicron

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78496,8038070,1,3,13,NaN,1,1,24,DICIEMBRE,2,NaN,NaN,NaN,2,48,1,2,4,7,362.509123
78497,8038071,1,1,13,NaN,2,1,30,DICIEMBRE,2,NaN,NaN,NaN,2,48,2,2,1,1,158.805116
78498,8038073,1,1,13,NaN,2,1,66,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,57.451130
78499,8038074,1,3,13,NaN,2,1,71,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,93.355386
78500,8038075,1,1,13,NaN,2,1,64,DICIEMBRE,2,NaN,NaN,NaN,2,480,2,2,1,1,98.197081

In [6]:
#1- Calcule la cantidad de micronegocios que hay en el departamento del Quindío encabezados por hombres y mujeres entre los 18 y los 28 años 
emicron_quindio = emicron[emicron['COD_DEPTO'] == 63]
emicroneg_quindio = emicron_quindio[(emicron_quindio['P241'] >= 18) & (emicron_quindio['P241'] <= 28)]['F_EXP'].sum()
print(f"Cantidad de micronegocios en el Quindío encabezados por personas entre 18 y 28 años: {emicroneg_quindio}")
int(emicroneg_quindio)

Cantidad de micronegocios en el Quindío encabezados por personas entre 18 y 28 años: 3813.1382001077573

3813

In [ ]:
#2 Cual es la ciudad en la que existe más micronegocios encabezados por hombres entre los 20 y 30 años 
# Filtrar micronegocios encabezados por hombres entre 20 y 30 años
micron_hombres = emicron.query("P35 == 1 and 20 <= P241 <= 30")

# Agrupar por ciudad (o área) y sumar el factor de expansión
micron_por_ciudad = micron_hombres.groupby('AREA')['F_EXP'].sum().sort_values(ascending=False)

# Mostrar la ciudad con mayor cantidad estimada de micronegocios
ciudad_top = micron_por_ciudad.idxmax()
cantidad_top = int(micron_por_ciudad.max())

print(f"La ciudad con más micronegocios encabezados con propietarios hombres entre 20 y 30 años es: {ciudad_top} ({cantidad_top} micronegocios)")

La ciudad con más micronegocios encabezados por hombres entre 20 y 30 años es: 5.0 (46673 micronegocios)

In [20]:
#3- En el departamento del Tolima cuantos micronegocios existen encabezados por mujeres que no tienen una persona que les ayude en el micronegocio
# Filtrar micronegocios en Tolima encabezados por mujeres sin ayudante
microneg_tolima = emicron.query("COD_DEPTO == 73 and P35 == 2 and P3031 == 2")['F_EXP'].sum()

# Mostrar el resultado como número entero
print(f"Total de mujeres que tienen su micronegocio en Tolima sin ayudante: {int(microneg_tolima)}")

Total de mujeres que tienen su micronegocio en Tolima sin ayudante: 28203

In [9]:
#4- Cuantos micronegocios hay en la ciudad de Bogotá encabezados por mujeres que estén en el sector de la industria manufacturera 
emicron_bogota_mujeres_manuf = emicron[(emicron['AREA'] == 11) & (emicron['P35'] == 2) & (emicron['GRUPOS4'] == 2)]
emicroneg_bogota_mujeres_manuf = emicron_bogota_mujeres_manuf['F_EXP'].sum()
print(f"Cantidad de micronegocios en Bogotá encabezados por mujeres en industria manufacturera: {emicroneg_bogota_mujeres_manuf}")
int(emicroneg_bogota_mujeres_manuf)

Cantidad de micronegocios en Bogotá encabezados por mujeres en industria manufacturera: 24563.035059512247

24563

In [10]:
#5- ¿Qué género de propietario de micronegocio paga más prestaciones sociales?

# Filtrar micronegocios que sí pagan prestaciones sociales (P3032_1 == 1)
pagan_prestaciones = emicron[emicron['P3032_1'] == 1]

# Agrupar por género del propietario (P35) y sumar el factor de expansión (F_EXP)
prestaciones_por_genero = pagan_prestaciones.groupby('P35')['F_EXP'].sum()

# Asignar etiquetas a los géneros (1: Hombre, 2: Mujer)
prestaciones_por_genero.index = prestaciones_por_genero.index.map({1: 'Hombres', 2: 'Mujeres'})

# Encontrar el género que más paga
genero_mas_paga = prestaciones_por_genero.idxmax()
cantidad_maxima = int(prestaciones_por_genero.max())

print("Cantidad de micronegocios que pagan prestaciones sociales, por género del propietario:")
print(prestaciones_por_genero.apply(int))
print("\n" + "="*50)
print(f"El género de propietario que más paga prestaciones sociales es: {genero_mas_paga}")

Cantidad de micronegocios que pagan prestaciones sociales, por género del propietario:
P35
Hombres    210943
Mujeres     64568
Name: F_EXP, dtype: int64

==================================================
El género de propietario que más paga prestaciones sociales es: Hombres